body {
  font-family: raleway, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}
/*it refers the root element called html 
: formatting for a root element / html taf will be specified here*/
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --font-face: "arial";
}
/*unversal selector */
* {
  /* using for all the element of the html pages */
  box-sizing: border-box;
  margin: 0; /* top,right,bottom, left */
  padding: 0;
}
/* a tag */
a {
  color: var(--primary-color);
  text-decoration: none;
}
